
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MiConexionBD" connectionString="Data Source=ISABELLA\SQLEXPRESS01;Initial Catalog=Registros;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Pantalla_Maestra.Properties.Settings.RegistrosConnectionString"
   connectionString="Data Source=ISABELLA\SQLEXPRESS01;Initial Catalog=Registros;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
